* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #a3edfa, #0e969b);
    font-size: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    margin: 10px 30px;
}